<div class="grid-portada">
  <h1 class="grid-portada__title">Kindergarten</h1>
  <div class="grid-portada__space"></div>
  <img
    class="grid-portada__banner"
    src="./../../../assets/img/classroom.jpg"
    alt="Boombox"
  />
  <div class="grid-portada__description">
    <p>
      La gestión de tu escuela infantil a un sólo click. Adapatada a diversos
      perfiles de usuarios que encontrarán toda la información necesaria
      rápidamente y podrán estar informados de todo lo que acontece en el
      centro.
    </p>
  </div>
  <div class="grid-portada__calendar"></div>
  <div class="grid-portada__actions">
    <button type="button" class="btn btn-primary btn-lg" (click)="login()">
      Login
    </button>
  </div>
</div>
