<div class="container">
  <div class="row">
    <div class="col-10">
      <h1>{{ aula.nombre }}</h1>
      <p>{{ aula.descripcion }}</p>
    </div>
    <div class="col-2" *ngIf="aula.imagen != ''">
      <img src="{{ aula.imagen }}" alt="Imagen del aula" class="img-fluid" />
    </div>
  </div>
  <div class="row">
    <div class="col" *ngIf="isInRol('educador|usuario')">
      <h2>Alumnos</h2>
      <div
        class="table-responsive"
        *ngIf="!editingInfante && !creatingInfante && !additionalInfante"
      >
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Fecha nacimiento</th>
              <th scope="col">
                <button class="btn btn-primary" (click)="crearInfante()">
                  <i class="fa-solid fa-circle-plus"></i>
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="infantes.length == 0">
              <td colspan="7">No existen infantes.</td>
            </tr>
            <tr *ngFor="let infante of infantes">
              <td>{{ infante.id }}</td>
              <td>{{ infante.nombre }}</td>
              <td class="text-capitalize">
                {{ infante.fecha_nac | date: "dd MMMM YYYY" }}
              </td>
              <td>
                <button
                  class="btn btn-primary"
                  (click)="editarInfante(infante)"
                >
                  <i class="fa-solid fa-pen"></i></button
                >&nbsp;&nbsp;<button
                  *ngIf="isInRol('educador')"
                  class="btn btn-primary"
                  (click)="eliminarInfante(infante.id)"
                >
                  <i class="fa-solid fa-trash-can"></i></button
                >&nbsp;&nbsp;<button
                  class="btn btn-primary"
                  (click)="adicionalInfante(infante)"
                >
                  <i class="fa-solid fa-circle-info"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="(editingInfante || creatingInfante) && !additionalInfante">
        <div class="container">
          <div class="row">
            <div class="col text-end">
              <button class="btn btn-primary" (click)="volverListado()">
                <i class="fa-solid fa-circle-arrow-left"></i>&nbsp;Volver al
                listado
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <form [formGroup]="infanteForm" (ngSubmit)="guardarInfante()">
                <div class="mb-3">
                  <label for="nombre" class="form-label">Nombre:</label>
                  <input
                    type="text"
                    [formControl]="nombre"
                    class="form-control"
                    id="nombre"
                  />

                  <div *ngIf="nombre.errors" class="mb-3">
                    <span
                      style="color: red"
                      *ngIf="nombre.errors && (nombre.touched || nombre.dirty)"
                    >
                      <span
                        *ngIf="
                          nombre.errors &&
                          (nombre.touched || nombre.dirty) &&
                          nombre.errors['required']
                        "
                        >Nombre es requerido</span
                      >
                      <span
                        *ngIf="
                          nombre.errors &&
                          (nombre.touched || nombre.dirty) &&
                          nombre.errors['minlength']
                        "
                        >El nombre no puede ser inferior a 3 caracteres</span
                      >
                      <span
                        *ngIf="
                          nombre.errors &&
                          (nombre.touched || nombre.dirty) &&
                          nombre.errors['maxlength']
                        "
                        >El nombre no puede ser mayor a 80 caracteres</span
                      >
                    </span>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="fecha_nac" class="form-label"
                    >Fecha de nacimiento:</label
                  >
                  <input
                    type="date"
                    [formControl]="fecha_nac"
                    class="form-control"
                    id="fecha_nac"
                  />

                  <div *ngIf="fecha_nac.errors" class="mb-3">
                    <span
                      style="color: red"
                      *ngIf="
                        fecha_nac.errors &&
                        (fecha_nac.touched || fecha_nac.dirty)
                      "
                    >
                      <span
                        *ngIf="
                          fecha_nac.errors &&
                          (fecha_nac.touched || fecha_nac.dirty) &&
                          fecha_nac.errors['required']
                        "
                        >Fecha de nacimiento es requerida</span
                      >
                    </span>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="additionalInfante">
        <div class="container">
          <div class="row">
            <div class="col text-end">
              <button class="btn btn-primary" (click)="volverListado()">
                <i class="fa-solid fa-circle-arrow-left"></i>&nbsp;Volver al
                listado
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h3>Alimentación</h3>
              <div class="table-responsive" *ngIf="!creatingAlimentacion">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Fecha</th>
                      <th scope="col">Desayuno</th>
                      <th scope="col">Almuerzo</th>
                      <th scope="col">Comida</th>
                      <th scope="col">Merienda</th>
                      <th scope="col">
                        <button
                          *ngIf="isInRol('educador')"
                          class="btn btn-primary"
                          (click)="crearAlimentacion()"
                        >
                          <i class="fa-solid fa-circle-plus"></i>
                        </button>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="alimentacion.length == 0">
                      <td colspan="7">No existen registros.</td>
                    </tr>
                    <tr *ngFor="let ali of alimentacion">
                      <td class="text-capitalize">
                        {{ ali.fecha | date: "dd MMMM YYYY" }}
                      </td>
                      <td>
                        {{ ali.desayuno_des != "" ? ali.desayuno_des : "-" }}
                      </td>
                      <td>
                        {{ ali.almuerzo_des != "" ? ali.almuerzo_des : "-" }}
                      </td>
                      <td>{{ ali.comida_des != "" ? ali.comida_des : "-" }}</td>
                      <td>
                        {{ ali.merienda_des != "" ? ali.merienda_des : "-" }}
                      </td>
                      <td>&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="creatingAlimentacion">
                <div class="container">
                  <div class="row">
                    <div class="col text-end">
                      <button
                        class="btn btn-primary"
                        (click)="volverListadoAlimentacion()"
                      >
                        <i class="fa-solid fa-circle-arrow-left"></i
                        >&nbsp;Volver al listado
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <form
                        [formGroup]="alimentacionForm"
                        (ngSubmit)="guardarAlimentacion()"
                      >
                        <div class="mb-3">
                          <label for="desayuno" class="form-label"
                            >Desayuno:</label
                          >
                          <select
                            class="form-select"
                            id="desayuno"
                            [formControl]="desayuno"
                            aria-label="Resultado desayuno"
                          >
                            <option
                              *ngFor="
                                let resultado of tiposResultadosAlimentacion
                              "
                              [value]="resultado.value"
                            >
                              {{ resultado.text }}
                            </option>
                          </select>
                        </div>
                        <div class="mb-3">
                          <label for="almuerzo" class="form-label"
                            >Almuerzo:</label
                          >
                          <select
                            class="form-select"
                            id="almuerzo"
                            [formControl]="almuerzo"
                            aria-label="Resultado almuerzo"
                          >
                            <option
                              *ngFor="
                                let resultado of tiposResultadosAlimentacion
                              "
                              [value]="resultado.value"
                            >
                              {{ resultado.text }}
                            </option>
                          </select>
                        </div>
                        <div class="mb-3">
                          <label for="comida" class="form-label">Comida:</label>
                          <select
                            class="form-select"
                            id="comida"
                            [formControl]="comida"
                            aria-label="Resultado comida"
                          >
                            <option
                              *ngFor="
                                let resultado of tiposResultadosAlimentacion
                              "
                              [value]="resultado.value"
                            >
                              {{ resultado.text }}
                            </option>
                          </select>
                        </div>
                        <div class="mb-3">
                          <label for="merienda" class="form-label"
                            >Merienda:</label
                          >
                          <select
                            class="form-select"
                            id="merienda"
                            [formControl]="merienda"
                            aria-label="Resultado merienda"
                          >
                            <option
                              *ngFor="
                                let resultado of tiposResultadosAlimentacion
                              "
                              [value]="resultado.value"
                            >
                              {{ resultado.text }}
                            </option>
                          </select>
                        </div>
                        <button type="submit" class="btn btn-primary">
                          Guardar
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <h3>Madres/Padres/Tutores</h3>
              <div class="container">
                <div class="row border-bottom mb-3" *ngFor="let usu of padres">
                  <div class="col-md-6">
                    <strong>Usuario:</strong> {{ usu.login }}
                  </div>
                  <div class="col-md-6">
                    <strong>Teléfono:</strong> {{ usu.telefono }}
                  </div>
                  <div class="col-md-12">
                    <strong>Dirección:</strong> {{ usu.email }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h3>Seguimiento</h3>
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <h4>{{ libro.nombre }}</h4>
                    <p>
                      <small>{{
                        libro.fecha_creacion | date: "dd MMMM YYYY"
                      }}</small>
                    </p>
                    <p>{{ libro.descripcion }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h5>Preguntas</h5>
                  </div>
                </div>
                <div
                  class="row border-bottom mb-3"
                  *ngFor="let pregunta of libro.preguntas"
                >
                  <div class="col-md-12">
                    <p>
                      <strong>{{ pregunta.pregunta }}</strong>
                    </p>
                  </div>
                  <div class="col-md-12" *ngIf="pregunta.tipo == 0">
                    <p>
                      <small
                        >[{{
                          pregunta.fecha_respuesta | date: "dd MMMM YYYY"
                        }}]</small
                      >
                      {{ pregunta.respuesta }}
                    </p>
                  </div>
                  <div class="col-md-12" *ngIf="pregunta.tipo == 1">
                    <p>
                      <small
                        >[{{
                          pregunta.fecha_respuesta | date: "dd MMMM YYYY"
                        }}]</small
                      >&nbsp;
                      <input
                        type="text"
                        name="respuesta"
                        id="respuesta"
                        #respuesta
                        value="{{ pregunta.respuesta }}"
                      />&nbsp;<button
                        class="btn btn-primary"
                        (click)="guardarRespuesta(pregunta, respuesta.value)"
                      >
                        <i class="fa-solid fa-save"></i>
                      </button>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
